.gradient-custom-2 {
    background: #c2d6d6 !important;
  }
  
  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }
  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  }

  .bcg_colour{
    color: #c2d6d6 !important;
  }